body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #E8E8E8 !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.headerBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.blogCard {
  margin: 10px;
  font-size: smaller;
  text-decoration: none;
}

.blogCard:hover {
  transform: scale(1.0055);
}

.cardContainer {
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 275px);
}

.homeContainerMain {
  margin: 10px;
  margin-top: 30px;
}

.viewPostIcons {
  color: #898989;
  font-size: 38px !important;
  margin-right: 30px !important;
}

@media (min-width: 1700px) {
  .viewPostBlogDiv {
    display: flex;
    margin: auto;
    padding-left: 650px;
    padding-right: 650px;
  }
}

@media (max-width: 1700px) {
  .viewPostBlogDiv {
    display: flex;
    margin: auto;
    padding-left: 450px;
    padding-right: 450px;
  }
}

@media (max-width: 1500px) {
  .viewPostBlogDiv {
    display: flex;
    margin: auto;
    padding-left: 350px;
    padding-right: 350px;
  }
}

@media (max-width: 1200px) {
  .viewPostBlogDiv {
    display: flex;
    margin: auto;
    padding-left: 0px;
    padding-right: 0px;
  }
}

.blogListTitle {
  text-decoration: none;
  font-weight: 500;
  color: #383838;
}

.blogListTitle:hover {
  color: #898989;
}

@media (min-width: 1700px) {
  .allPostsDiv {
    display: flex;
    margin: auto;
    padding-left: 450px;
    padding-right: 450px;
  }
}

@media (max-width: 1700px) {
  .allPostsDiv {
    display: flex;
    margin: auto;
    padding-left: 250px;
    padding-right: 250px;
  }
}

@media (max-width: 1500px) {
  .allPostsDiv {
    display: flex;
    margin: auto;
    padding-left: 150px;
    padding-right: 150px;
  }
}

@media (max-width: 1200px) {
  .allPostsDiv {
    display: flex;
    margin: auto;
    padding-left: 0px;
    padding-right: 0px;
  }
}