body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #E8E8E8 !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.headerBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.blogCard {
  margin: 10px;
  font-size: smaller;
  text-decoration: none;
}

.blogCard:hover {
  transform: scale(1.0055);
}

.cloudCard {
  margin: 10px;
  font-size: smaller;
  text-decoration: none;
}

.cardContainer {
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 275px);
}

.galleryContainer {
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 275px);
  justify-content: center;
}

.galleryUploadButton {
  margin-left: 445px !important;
}

.homeContainerMain {
  margin: 10px;
  margin-top: 30px;
}

.viewPostIcons {
  color: #898989;
  font-size: 38px !important;
  margin-right: 30px !important;
}

@media (min-width: 1700px) {
  .viewPostBlogDiv {
    display: flex;
    margin: auto;
    padding-left: 650px;
    padding-right: 650px;
  }
}

@media (max-width: 1700px) {
  .viewPostBlogDiv {
    display: flex;
    margin: auto;
    padding-left: 450px;
    padding-right: 450px;
  }
}

@media (max-width: 1500px) {
  .viewPostBlogDiv {
    display: flex;
    margin: auto;
    padding-left: 350px;
    padding-right: 350px;
  }
}

@media (max-width: 1200px) {
  .viewPostBlogDiv {
    display: flex;
    margin: auto;
    padding-left: 0px;
    padding-right: 0px;
  }
}

.blogListTitle {
  text-decoration: none;
  font-weight: 500;
  color: #383838;
}

.blogListTitle:hover {
  color: #898989;
}

@media (min-width: 1700px) {
  .allPostsDiv {
    display: flex;
    margin: auto;
    padding-left: 450px;
    padding-right: 450px;
  }
}

@media (max-width: 1700px) {
  .allPostsDiv {
    display: flex;
    margin: auto;
    padding-left: 250px;
    padding-right: 250px;
  }
}

@media (max-width: 1500px) {
  .allPostsDiv {
    display: flex;
    margin: auto;
    padding-left: 150px;
    padding-right: 150px;
  }
}

@media (max-width: 1200px) {
  .allPostsDiv {
    display: flex;
    margin: auto;
    padding-left: 0px;
    padding-right: 0px;
  }
}

.blogEditor {
  background-color: white;
  padding-left: 30px;
  padding-right: 30px;
  box-shadow: 2px 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.blogWrapper {
  background-color: white;
}

.rdw-dropdown-selectedtext {
  text-decoration: none;
  color: #383838;
}

.modal-backdrop {
  background-color: rgba(0, 0, 0, 0.2) !important;
}

.blogImage {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.cloudImage {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.loginForm {
  width: 15vw !important;
  margin-top: 10vw !important;
  margin: auto;
  justify-content: center;
  background-color: #cccccc;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 10px;
}

.shake {
  animation: shake 0.8s;
}

@media (max-width: 1400px) {
  .loginForm {
    width: 40vw !important;
    margin-top: 10vw !important;
    margin: auto;
    justify-content: center;
  }
}

@media (max-width: 1200px) {
  .loginForm {
    width: 50vw !important;
    margin-top: 40vw !important;
    margin: auto;
    justify-content: center;
  }
}

@media (max-width: 767px) {
  .loginForm {
    width: 70vw !important;
    margin-top: 50vw !important;
    margin: auto;
    justify-content: center;
  }
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  10% {
    transform: translateX(-10px);
  }
  20% {
    transform: translateX(10px);
  }
  30% {
    transform: translateX(-10px);
  }
  40% {
    transform: translateX(10px);
  }
  50% {
    transform: translateX(-10px);
  }
  60% {
    transform: translateX(10px);
  }
  70% {
    transform: translateX(-10px);
  }
  80% {
    transform: translateX(10px);
  }
  90% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(0);
  }
}

.mainButtons {
  margin-top: 30px !important;
  justify-content: center;
  display: flex;
  text-align: center;
}

.mainPhoto {
  width: 50%;
  height: 300px;
  object-fit: cover;
  margin: auto;
}

.mainPhoto:hover {
  transform: scale(1.005);
}

.mainContainer {
  margin-top: 9vw;
}

.mainBg {
  background-color: #cccccc;
  width: 25vw;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 10px;
}

@media (max-width: 1200px) {
  .mainBg {
    background-color: #cccccc;
    width: 75vw;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
  }
  .mainContainer {
    margin-top: 30vw;
  }
}

@media (max-width: 767px) {
  .mainBg {
    background-color: #cccccc;
    width: 100vw;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
  }
  .mainContainer {
    margin-top: 50vw;
  }
  .cardContainer {
    margin: auto;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(1, 100vw);
  }
  .order-mobile-last {
    order: 2;
  }
  .order-mobile-first {
    order: 1;
  }
}